<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Audio App{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='css/dark.css') }}">
</head>
<body>
    <div class="container my-5">
        <label class="switch">
            <input type="checkbox" id="toggle-dark-mode">
            <span class="slider round"></span>
        </label>
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.getElementById('toggle-dark-mode').addEventListener('change', function() {
            const link = document.getElementById('theme-style');
            if (this.checked) {
                link.href = "{{ url_for('static', filename='css/dark.css') }}";
            } else {
                link.href = "{{ url_for('static', filename='css/light.css') }}";
            }
        });
    </script>
</body>
</html>
